@if (wrongMessage().trim().length>0) {
<p-message styleClass="my-2" severity="error">
    {{wrongMessage()}}
</p-message>
}
<form [formGroup]="formGroup()" class="flex flex-col gap-4 my-4">
    <!-- Year and Start Date in one row on medium screens and up, column on small screens -->
    <div>
        <p-floatlabel variant="on" appValidateInput [controlName]="'oldPassword'" [formGroup]="formGroup()">
            <p-iconfield>
                <input class="w-full" [type]="passwordToggleService.isPasswordVisible('oldPassword')?'text':'password'"
                    pInputText pSize="large" autocomplete="off" formControlName="oldPassword" />
                <p-inputicon class="cursor-pointer"
                    [ngClass]="passwordToggleService.isPasswordVisible('oldPassword')?'pi pi-eye-slash':'pi pi-eye'"
                    (click)="passwordToggleService.togglePasswordVisibility('oldPassword')" />
            </p-iconfield>
            <label>Contraseña Actual</label>
        </p-floatlabel>
    </div>
    <div>
        <p-floatlabel variant="on" appValidateInput [controlName]="'newPassword'" [formGroup]="formGroup()">
            <p-iconfield>
                <input class="w-full"
                    [type]="passwordToggleService.isPasswordVisible('newPassword') ? 'text' : 'password'" pInputText
                    pSize="large" autocomplete="off" formControlName="newPassword" />
                <p-inputicon class="cursor-pointer"
                    [ngClass]="passwordToggleService.isPasswordVisible('newPassword') ? 'pi pi-eye-slash' : 'pi pi-eye'"
                    (click)="passwordToggleService.togglePasswordVisibility('newPassword')" />
            </p-iconfield>
            <label>Nueva contraseña</label>
        </p-floatlabel>
    </div>
    <div>
        <p-floatlabel variant="on" appValidateInput [controlName]="'repeatNewPassword'" [formGroup]="formGroup()">
            <p-iconfield>
                <input class="w-full"
                    [type]="passwordToggleService.isPasswordVisible('repeatNewPassword') ? 'text' : 'password'"
                    pInputText pSize="large" autocomplete="off" formControlName="repeatNewPassword" />
                <p-inputicon class="cursor-pointer"
                    [ngClass]="passwordToggleService.isPasswordVisible('repeatNewPassword') ? 'pi pi-eye-slash' : 'pi pi-eye'"
                    (click)="passwordToggleService.togglePasswordVisibility('repeatNewPassword')" />
            </p-iconfield>
            <label>Repite la nueva contraseña</label>
        </p-floatlabel>
    </div>
</form>
<div class="flex flex-row justify-end gap-2">
    <!-- @if (authMe().isChangePassword) {
    <p-button label="Cancelar" severity="secondary" (click)="close()" />
    } -->
    <p-button label="Cambiar Contraseña" severity="primary" (click)="send()" [disabled]="!formGroup().valid" />
</div>
<app-overlay [isLoading]="isLoading()" [message]="message()" />